<ion-view view-title="Addit">
  <ion-content>
  	{{disp}} 


  	<div class="bar bar-header bar-dark">
	  <h1 class="title">How many photos will you take?</h1>
	</div> <br/><br/>
  	<div class="list">

	  <label class="item item-input item-select">
	    <div class="input-label">
	    	Select # of photos:
	    </div>
	    <form >
		    <select ng-change='selectNumPhotos(numPhotos)' ng-model="numPhotos"  required>
		    	<!--used shaping up with angular slides from codeschool for ^^ -->
		      <option  value='1'  selected>1 photo</option>
		      <option  value='2' >2 photos</option>
		      <option  value='3' >3 photos</option>
		      <option  value='4' >4 photos</option>
		      <option  value='5' >5 photos</option>
		      <option  value='6' >6 photos</option>
		      <option  value='7' >7 photos</option>
		      <option  value='8' >8 photos</option>
		    </select>
		</form>
	  </label>

	</div>
	<div class="list card">

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-android-camera"></i>
	    Add items from Camera
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-images"></i>
	    Select photos from library
	  </a>

	</div>
<!--   	<button ng-click="captureImage()" class="button button-positive" ng-controller='AddItActionsController'>
		Add from Camera
	</button>


	<button  class="button button-positive">
		Add from Photo Library 
	</button> -->
	photo library button doesn't work yet
	<ion-scroll>
		<img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
	</ion-scroll>
  </ion-content>
</ion-view>
